# Configuration for prometheus-community/kube-prometheus-stack
grafana:
  adminPassword: "admin"
  service:
    type: LoadBalancer

prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    serviceMonitorSelector: {}
    serviceMonitorNamespaceSelector: {}

# Enable GPU monitoring
additionalPrometheusRules:
  - name: gpu-rules
    groups:
      - name: GPU Alerts
        rules:
          - alert: HighGpuTemp
            expr: DCGM_FI_DEV_GPU_TEMP > 85
            for: 5m
            labels:
              severity: warning
            annotations:
              summary: "GPU is overheating"